body{
    font-family: 'Cabin', sans-serif;
    background-color: #F23D3D;
    color: black;
}

@media (min-width: 576px){
}

@media (min-width: 768px){
}

@media (min-width: 992px){
}

@media (min-width: 1200px){
}

html {
    scroll-behavior: smooth;
  }


/* NAVBAR */
.bg-light{
    color: white;
}
span.navbar-toggler-icon{
    color: white;
}

/* REEL */

.ejercicios{
    margin: 10px;
}

.carousel-control-next, .carousel-control-prev {
    color: black;
}
.card-header{
    background-color:  #F2B705;
    color: white;
}

/* REEL */


/*PERFIL*/

.container-fluid{
    background-color: white;

}

/*PERFIL*/


h1{
    font-size: 37px;
}

.ricomida{
    font-family: 'Lobster', cursive;
}
.botones{
    color: white;
}

.pizza-estilo{
    margin-top: 25px;
}

.titulo-receta{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-top: 40px;
}

.bajada-ins{
    font-size: 20px;
}

.boton-compartir{
    text-align: left;
}

.titulo-secundario{
    font-weight: 700;
    font-size: 20px;
}

h2{
    font-size: 20px;
    font-weight: 700;
}
/* DESARROLLO DOCUMENTAL*/

#documental{
    background-image: url(/assets/img/HR1.jpg);
    width: 1583px;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}
/* FOOTER RRSS */

a{
    color: white;
}
footer{
    background-color: #F23D3D;
}
footer{
    font-family: 'Lobster', cursive;
    font-size: 37px;
    text-align: center;
    color: white;
    margin-bottom: 0em;
    padding-bottom: 20px;
    padding-top: 20px;
}